/.DS_Store
/.github
/.vscode
.DS_Store
.idea

# PHP Mailer config (contiene credenciales)
php-mailer/mail-config.php
php-mailer/vendor/
# Entornos
.env
tfg_backend/.env

# Spring Boot
tfg_backend/target/

# VSCode config
.vscode/sftp.json
